p {
  font-size : 12pt;
  font-family : arial,helvetica;
  font-weight : normal;
 }

 h1 {
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: black 6px 6px 8px;
  text-transform: uppercase;
}
 
 h2  {
  font-size : 18pt;
  font-family : verdana,arial;
  text-decoration : underline;
  text-align : center;
  background-color : rgb(1, 72, 112);
 }
 h3  {
  font-size : 18pt;
  font-family : verdana,arial;
  text-decoration : underline;
  text-align : center;
  background-color : rgb(49, 164, 231);
 }
 h4  {
  font-size : 18pt;
  font-family : verdana,arial;
  text-decoration : underline;
  text-align : center;
  background-color : rgb(2, 47, 73);
 }

 h5  {
  font-size : 18pt;
  font-family : verdana,arial;
  text-decoration : underline;
  text-align : center;
  background-color : rgb(29, 136, 207);
 }
 
 h6 {
  font-size : 18pt;
  font-family : verdana,arial;
  text-decoration : underline;
  text-align : center;
  background-color : rgb(78, 186, 248);
 }
 
 h7  {
  font-size : 18pt;
  font-family : verdana,arial;
  text-decoration : underline;
  text-align : center;
  background-color : rgb(5, 160, 250);
 }
 
 
 TD  {
  font-size : 10pt;
  font-family : verdana,arial;
  text-align : center;
  background-color : 666666;
 }
 
 body  {
  background-color : #080350;
  font-family : arial;
  color : rgb(255, 255, 255);
 }

 tbody {
  border: rgb(253, 253, 253) 5px solid;
}

body { 
  font: size 3.5em;
 }


table {
  width: 100%;
  border: 1px solid #000;
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
}
caption {
  padding: 0.3em;
}
.paginaweb{
  width:960px;
  margin:auto;
}

p.titulos{
  font-family: cursive;
}